#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.navBarContainer{
  width: 100%;
  height: auto;
  padding: 1rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}

.brand{
  font-style: italic;
  font-size: 3rem;
  font-weight: bolder;
  color: crimson;
}

.itemListContainer{
  padding-top: 3rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  color: peru;
}

.material-symbols-outlined{
  color: crimson;
  font-weight: bold;
  font-size: 2rem;

}

.quantity{
  font-weight: bold;
  border: 1px solid crimson;
  padding: 5px;
  border-radius: 70%;
}